
@import "./common.css";


.Channel {
  margin: 0px 10px 0px;
}

.Channel > .Banner {
  position: relative;
}

.Banner > .banner_img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;

  display: flex;
}

.Banner > .header {
  position: absolute;
  bottom: 15px;

  width: 100%;

  display: flex;
  align-items: center;
}

.Banner > .header > .channel_img_icon {
  width: 40px;
  height: 40px;

  border-radius: 4px;
  margin-left: 15px;
  margin-right: 10px;
}

.Banner .header > .right {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Banner .header .channel_name {
  color: var(--text_1_color);
  font-family: Verdana;
  font-size: 25px;
}

.Banner .header .subs {
  margin-right: 15px;

  display: flex;

  color: var(--text_1_color);
  font-family: monospace;
  font-size: 15px;
}

.Banner .subs > .subs_num {
  margin-right: 8px;
}

/* .tabs {

} */

.tabs > button {
  width: 80px;
  height: 35px;

  color: var(--text_2_color);
  background-color: hsla(0, 0%, 0%, 0%);
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
}

.tabs > button:hover {
  color: var(--text_1_color);
}

.tabs .selected_tab {
  color: var(--text_1_color);
  border-bottom: 3px solid hsl(0, 0%, 100%);
}

/* Preview Thread List */
.PreviewThreads {
  margin-bottom: 15px;

  display: flex;
  overflow-x: scroll;
}

.PreviewItem {
  flex: 0 0 210px;
  height: 190px;
  margin: 0px 5px 0px;
}

.PreviewItem > .media_wrap {
  width: 100%;

  cursor: pointer;
}

.preview_img, .preview_vid {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
}

.PreviewItem .name {
  max-height: calc(15px * 2 * 1.2);
  margin-top: 1px;
  margin-bottom: 3px;

  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 15px;

  overflow: hidden;
}

.PreviewItem .stats {
  display: flex;
  color: var(--text_1_color);
}

/* Styled Views and Date */
.Channel .views_and_date {
  display: flex;

  color: var(--text_2_color);
  font-family: monospace;
  font-size: 14px;
}

.Channel .views_and_date > .views {
  padding-left: 4px;
}

.Channel .views_and_date > .dot {
  padding: 0px 6px 0px;
}

/* Recent Tab Styling */
.RecentThread {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 130px;

  display: flex;
}

.RecentThread .img {
  max-height: 100%;
}

.RecentThread .vid {
  max-height: 100%;
  outline-style: none;
}

.RecentThread .description {
  padding-left: 10px;
}

.RecentThread .name {
  color: var(--text_1_color);
  font-family: Verdana;
  font-size: 14px;
}

.RecentThread .descp {
  height: calc(14px * 1.2 * 3);
  color: var(--text_2_color);
  font-family: Verdana;
  font-size: 14px;

  overflow: hidden;
}

.RecentThreads {
  padding-top: 10px;
  border-top: 2px solid var(--background_2_color);
}

.RecentThreads > .name {
  margin-bottom: 10px;

  color: var(--text_1_color);
  font-family: var(--text_family_2);
  font-size: 16px;
  font-weight: 700;
}

.PreviewThreadSet {
  border-top: 2px solid var(--background_2_color);
  padding-top: 15px;
}

.PreviewSetHeader {
  margin-bottom: 10px;

  display: flex;
}

.PreviewSetHeader .icon_img, .icon_vid {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;

  cursor: pointer;
}

.PreviewSetHeader .right {
  width: calc(100% - 50px);

  display: flex;
  justify-content: space-between;
}

.PreviewSetHeader .set .name {
  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 16px;
}

.PreviewSetHeader .set .subs {
  display: flex;

  color: var(--text_2_color);
  font-family: var(--text_family_2);
  font-size: 14px;
}

.PreviewSetHeader .set .subs .subs_num {
  padding-right: 4px;
}

.PreviewSetHeader .subscribe_btn {
  width: 100px;
  height: 35px;
} 
