
@import "./common.css";

p {
  margin: 0px;
}

button {
  outline-style: none;
  border-width: 0px;
  background-color: hsla(0, 0%, 0%, 0%);
}

button:hover {
  cursor: pointer;
  background-color: var(--background_2_color);
}

input {
  border-width: 0px;
  outline-style: none;
}

input:focus {
  outline-offset: 0px;
  outline-style: solid;
  outline-color: var(--site_1_color);
  outline-width: 1px;
}

/*===================================== Theme ==========================================*/

.Btn {
  padding: 4px 0px 4px;
  border-width: 0px;

  background-color: hsla(0, 0%, 0%, 0%);
  color: var(--text_1_color);
  font-family: var(--text_family_2);
  font-size: 16px;
}

.Btn:hover {
  border-radius: 4px;
  color: var(--site_1_color);
  background-color: var(--background_2_color);
}

/*=============================== Styling for Components ===============================*/

#background_click_receiver {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: hsla(0, 0%, 0%, 50%);
}

.LeftBar {
  position: fixed;
  top: 50px;
  z-index: 2;

  width: 250px;
  height: 100%;
  border-right: 2px solid var(--site_1_color);
  background-color: var(--background_1_color);

  transition: left 250ms ease-in-out;

  display: flex;
  flex-direction: column;
}

.LogInPrompt {
  position: fixed;
  left: 50%;
  z-index: 2;

  width: 300px;
  height: 280px;
  padding: 0px 20px 0px;
  border-radius: 8px;
  margin-top: -140px;
  margin-left: -150px;

  background-color: var(--background_1_color);
  color: hsl(0, 0%, 100%);
  font-family: var(--text_family_2);

  transition: top 250ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LogInPrompt .LogInHeader {
  padding-top: 10px;
  padding-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;
}

.LogInHeader > p {
  padding-left: 10px;
}

.LoginLabel {
  padding-top: 12px;
  padding-bottom: 6px;

  font-size: 15px;

  display: flex;
  justify-content: space-between;
}

.LoginLabel .LoginError {
  color: hsl(0, 100%, 65%);
}

.LogInPrompt > input {
  height: 30px;
  padding: 0px 9px 0px;
  border-radius: 4px;

  background-color: var(--background_2_color);
  color: hsl(0, 0%, 100%);
  font-family: var(--text_family_1);
  font-size: 16px;
}

.LogInPrompt > input:focus {
  background-color: hsl(200, 0%, 0%);
}

.LogInPrompt .LogInBtn {
  height: 30px;
  border-radius: 4px;
  margin-top: 25px;

  background-color: var(--site_1_color);
  color: hsl(165, 0%, 100%);
  font-family: var(--text_family_2);
  font-size: 16px;
  font-weight: bold;
}

.LogInPrompt .LogInBtn:hover {
  background-color:var(--site_2_color);
}

.LogInPrompt .LogInBtn:disabled {
  background-color: var(--background_2_color);
  cursor: default;
}

/* #main {
  display: flex;
  flex-direction: column;
} */

.header_bar {
  width: 100%;
  height: 50px;

  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background_1_color);
}

.site {
  margin-left: var(--content-margins);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.site_logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;

  border-radius: 4px;
}

.site_logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.MenuBtn {
  height: 44px;

  padding-left: 15px;
  padding-right: 15px;
  border-width: 0px;
  border-radius: 4px;

  color: hsl(165, 0%, 100%);
  font-family: var(--text_family_2);
  font-size: 16px;
  font-weight: bold;
}

.MenuBtn:hover {
  color: var(--site_1_color);
  background-color: var(--background_2_color);
}

.header_bar .search_field {
  width: 45%;
  height: 35px;

  padding: 0px 10px;
  border-width: 0px;
  border-radius: 4px;

  background-color: var(--background_2_color);
  color: hsl(215, 0%, 100%);
  font-family: var(--text_family_1);
  font-size: 14px;
}

::placeholder {
  color: hsl(214, 0%, 75%);
  font-family: var(--text_family_2);
  font-size: 16px;
}

.AccountDrop {
  position: relative;

  /* width: 200px; */
  margin-right: var(--content-margins);
}

.AccountDrop .DropdowntBtn {
  border-radius: 4px;

  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 16px;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.AccountDrop .DropdowntBtn:hover {
  color: var(--site_1_color);
  background-color: var(--background_2_color);
  cursor: pointer;
}

.AccountDrop .DropdowntBtn .name {
  padding-left: 15px;
  padding-right: 15px;
}

.AccountDrop .DropdowntBtn > img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.AccountDrop .DropdownContent {
  position: absolute;
  right: 0px;
  z-index: 2;
  width: 200px;

  background-color: var(--background_1_color);
  
  display: flex;
  flex-direction: column;
}

.HomeThreads {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* Thread Styling */
.ThreadHorizontal {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;  /* testing */

  --recomendations_width: 480px;
}

.ThreadHorizontal > .left_side {
  box-sizing: border-box;
  width: calc(100% - var(--recomendations_width));

  padding: 0px 10px 0px;
}

.ThreadHorizontal > .recomendations {
  box-sizing: border-box;
  width: var(--recomendations_width);
  padding: 0px 10px 0px;
}

.ThreadVertical {
  display: flex;
  flex-direction: column;
}

.ThreadVertical > .ThreadContext {
  padding: 0px 10px 0px;
}

.ThreadVertical > .ThreadContext .separator {
  margin-bottom: 10px;
  height: 2px;
  background-color: var(--background_2_color);
}

.ThreadContent {
  display: flex;
  justify-content: center;
}

.ThreadContent > .thread_img {
  max-width: 100%;
}

.ThreadContent > .thread_video {
  max-width: 100%;
  outline-style: none;
}

.ThreadContext > .title {
  padding-top: 10px;

  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 18px;
}

.ThreadContext .content_stats {
  width: 100%;
  padding-top: 5px;
  

  color: var(--text_2_color);
  font-family: var(--text_family_2);
  font-size: 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ThreadContext .ViewsDate {
  display: flex;
}

.ThreadContext .ViewsDate > .num {
  padding-right: 4px;
}

.ThreadContext .ViewsDate > .views {
  padding-right: 8px;
}

.ThreadContext .ViewsDate > .dot {
  padding-right: 8px;
}

.ContentDescription {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid var(--background_2_color); 
  border-bottom: 2px solid var(--background_2_color);
  margin-bottom: 10px;

  display: flex;
}

.ContentDescription > .thread_set_img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;

  cursor: pointer;
}

.ThreadSetbar {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.ThreadSetbar .thread_set {
  display: flex;
  flex-direction: column;
}

.ThreadSetbar .thread_set .name {
  padding-bottom: 2px;

  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 14px;
}

.ThreadSetbar .thread_set .subs {
  display: flex;

  color: var(--text_2_color);
  font-family: var(--text_family_2);
  font-size: 14px;
}

.ThreadSetbar .thread_set .subs .value {
  padding-right: 4px;
}

.ThreadSetbar .subscribe_btn {
  width: 100px;
  height: 35px;
}

.ContentDescription .description {
  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 14px;
}

/* Rating Styling */
.Rating .numbers {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.Rating .value {
  padding-right: 5px;
}

.Rating .btn {
  padding: 0px 8px 0px;
  display: flex;
  flex-direction: row;
}

.Rating .up:hover {
  color: var(--up_1_color);
  cursor: pointer;
}

.Rating .up_on  {
  color: var(--up_1_color);
}

.Rating .down:hover {
  color: var(--down_1_color);
  cursor: pointer;
}

.Rating .down_on {
  color: var(--down_1_color);
}

.Rating .bar {
  position: relative;
  width: 100%;
  height: 5px;
}

.Rating .bar_color_off {
  background-color: var(--down_2_color);
}

.Rating .bar_color_on {
  background-color: var(--down_1_color);
}

.Rating .bar_color_gray {
  background-color: var(--text_2_color);
}

.Rating .fill {
  position: absolute;
  width: 75%;
  height: 100%;
}

.Rating .fill_color_off {
  background-color: var(--up_2_color);
}

.Rating .fill_color_on {
  background-color: var(--up_1_color);
}

.Rating .fill_color_gray {
  background-color: var(--text_2_color);
}

/* Thread Card Styling */
.HorizontalThreadCard {
  width: 100%;
  margin-bottom: 10px;
  display: flex;

  --image_size: 200px;
}

.HorizontalThreadCard:hover {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--background_1_color);
}

.HorizontalThreadCard > .image {
  padding-right: 10px;
  cursor: pointer;
}

.HorizontalThreadCard > .image > img {
  width: var(--image_size);
  height: 110px;

  object-fit: contain;
}

.HorizontalThreadCard > .CardContext {
  box-sizing: border-box;
  width: calc(100% - var(--image_size));

  cursor: pointer;
}

.CardContext > .title {
  max-height: calc(15px * 2 * 1.2);
  margin-bottom: 3px;

  overflow: hidden;

  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 15px;
}

.CardContext > .thread_set {
  max-height: calc(14px * 2 * 1.2);
  overflow: hidden;

  color: var(--text_2_color);
  font-family: var(--text_family_2);
  font-size: 14px;

  cursor: pointer;
}

.CardContext > .stats {
  display: flex;

  color: var(--text_2_color);
  font-family: var(--text_family_2);
  font-size: 14px;
}

.CardContext > .stats .views {
  padding-left: 3px;
}

.CardContext > .stats .dot {
  padding: 0px 6px 0px;
  font-weight: bold;
}

/* Comment Styling */
.Comment {
  display: flex;
  margin-top: 4px;
  margin-bottom: 2px;
}

.CommentReplyTarget {
  background-color: var(--background_2_color);
}

.Comment:hover .footer {
  visibility: visible;
}

.Comment > img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.Comment > .right_side {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.Comment .top_bar {
  padding-bottom: 4px;

  display: flex;
  align-items: baseline;
  font-size: 13px;
}

.Comment .user_name {
  color: var(--text_1_color);
  font-family: var(--text_family_1);
}

.Comment .date {
  padding-left: 6px;
  color: var(--text_2_color);
}

.Comment .date, .upvotes_value, .upvotes_txt, .downvotes_value, .downvotes_txt {
  font-family: var(--text_family_2);
}

.Comment .up, .down {
  display: flex;
  margin-left: 8px;
}

.Comment .up:hover {
  color: var(--up_1_color);
  cursor: pointer;
}

.Comment .down:hover {
  color: var(--down_1_color);
  cursor: pointer;
}

.Comment .upvotes_txt, .downvotes_txt {
  padding-left: 4px;
}

.Comment .gray {
  color: var(--text_2_color);
}

.Comment .up_color {
  color: var(--up_1_color);
}

.Comment .down_color {
  color: var(--down_1_color);
}

.Comment .parents {
  display: flex;
  padding-bottom: 2px;
}

.Comment .parents a {
  margin-right: 10px;
  display: flex;

  font-size: 13px;
  font-weight: bold;
  color: var(--text_2_color);
  text-decoration: none;
}

.Comment .parents a:hover{
  color: var(--text_1_color);
}

.Comment .parents .from_sign {
  font-family: var(--text_family_2);
}

.Comment .parents .from_name {
  font-family: var(--text_family_1);
}

.Comment .text {
  padding-bottom: 2px;

  color: var(--text_1_color);
  font-family: var(--text_family_1);
  font-size: 14px;
}

.Comment .footer {
  visibility: hidden;
}

.Comment .footer .comment_btn {
  width: 55px;
  height: 16px;
  border-radius: 2px;

  background-color: hsla(0, 0%, 0%, 0%);
  font-family: var(--text_family_2);
  font-size: 13px;
}

.Comment .footer > .comment_btn:hover {
  background-color: var(--background_2_color);
}

.Comment .reply_btn {
  color: var(--text_2_color);
}

.Comment .report_btn {
  color: hsla(0, 100%, 65%, 100%);
}

.CommentBox {
  position: fixed;
  border-radius: 4px;

  background-color: var(--background_1_color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CommentBox > .header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CommentBox .parents {
  margin-top: 5px;
  margin-left: 8px;

  display: flex;
  flex-wrap: wrap;
}

.CommentBox .parents a {
  display: flex;

  color: var(--text_1_color);
  font-size: 14px;
  text-decoration: none;
}

.CommentBox .parents a:hover {
  color: var(--site_1_color);
}

.CommentBox .parents a .from_sign {
  font-family: var(--text_family_2);
}

.CommentBox .parents a .from_name {
  font-family: var(--text_family_1);
  margin-right: 8px;
}

.CommentBox > .header > .close_btn {
  border-radius: 4px;
  width: 60px;
  height: 22px;

  background-color: hsl(0, 90%, 40%);
  color: hsl(0, 100%, 100%);
  font-family: var(--text_family_2);
  font-size: 14px;
  font-weight: bold;
}

.CommentBox > .header > .close_btn:hover {
  background-color: hsl(0, 100%, 100%);
  color: hsl(0, 80%, 50%);
}

.CommentBox .textarea_wrap {
  margin: 0px 10px 0px;
}

#reply_textarea {
  box-sizing: border-box;
  height: 100px;
  width: 600px;
  resize: none;

  margin: 8px 0px 8px;
  border-radius: 4px;
  border-style: none;
  border-width: 0px;
  padding: 6px;

  background-color: var(--background_2_color);
  font-family: var(--text_family_1);
  font-size: 14px;
  color: var(--text_1_color);
}

#reply_textarea::placeholder {
  font-family: var(--text_family_2);
  font-size: 14px;
}

#reply_textarea:focus {
  outline-offset: 0px;
  outline-style: solid;
  outline-color: var(--site_1_color);
}

.CommentBox .footer {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CommentBox .footer .reply_btn {
  border-radius: 4px;
  width: 70px;
  height: 25px;

  color: var(--site_1_color);
  font-family: var(--text_family_2);
  font-size: 14px;
  font-weight: bold;
}

.CommentBox .footer .reply_btn:hover {
  background-color: var(--site_3_color);
}
